<div class="realty-card" data-jss="realty-344083139" data-reactid="4">
  <div class="realty-card-inner" data-reactid="5">
    <div class="realty-card-header" data-reactid="6"><a
            href="/a/344083139/redirect?gaListingPosition=1&amp;gaListingType=search%2Findex%3Acity%2CcontractType%2CrealtyType"
            class="realty-card-header__link-wrapper" target="_blank" data-ga-event-category="click_ann"
            data-ga-event-action="lun_ann_header" data-ga-event-label="rieltor.ua" data-ga-event-noninteraction="0"
            data-reactid="7">
      <div class="realty-card-header-title" data-reactid="8"><span class="realty-card-header-title__street"
                                                                   title="улица Княжий Затон" data-reactid="9">ул. Княжий Затон</span><span
              class="realty-card-header-title__house" data-reactid="10"></span></div>
    </a>
      <p class="realty-card-header__subtitle" data-reactid="11"><a href="/аренда-квартир-киев-дарницкий-район"
                                                                   data-reactid="12">Дарницкий</a>
        <!-- react-text: 13 -->, <!-- /react-text --><a href="/аренда-квартир-киев-микрорайон-осокорки"
                                                        data-reactid="14">Осокорки</a></p></div>
    <div class="realty-card-content" data-reactid="15"><a
            href="/a/344083139/redirect?gaListingPosition=1&amp;gaListingType=search%2Findex%3Acity%2CcontractType%2CrealtyType"
            class="realty-card-media-link-wrapper" target="_blank" data-ga-event-category="click_ann"
            data-ga-event-action="lun_ann_photo" data-ga-event-label="rieltor.ua" data-ga-event-noninteraction="0"
            data-reactid="16">
      <div class="realty-card-media" data-reactid="17">
        <div class="image-loader"><!-- react-empty: 1981 --><img
                src="https://lunimg.appspot.com/lun_ua/344/344/363773423.jpg"
                srcset="https://lunimg.appspot.com/lun_ua/344/344/363773423.jpg 1x, https://lunimg.appspot.com/lun_ua/688/688/363773423.jpg 2x"
                title="аренда квартир в Киеве на ул. Княжий Затон (Осокорки)" class="realty-card-media__image"></div>
        <div class="realty-card-media-information" data-reactid="19">
          <div class="realty-card-media-information__site" data-reactid="20">rieltor.ua</div>
          <div class="realty-card-media-information-about-photo" data-reactid="21">
            <svg class="realty-card-media-information__icon-photo"
                 style="display:inline-block;color:#fff;fill:currentColor;height:16px;width:16px;user-select:none;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;"
                 viewBox="0 0 24 24" data-reactid="22">
              <circle cx="12" cy="12" r="3.2" data-reactid="23"></circle>
              <path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"
                    data-reactid="24"></path>
            </svg>
            <span class="realty-card-media-information__photos-number" data-reactid="25">11</span></div>
        </div><!-- react-empty: 26 --></div>
    </a>
      <div class="realty-card-characteristics" data-reactid="27">
        <div class="realty-card-characteristics__price" data-reactid="28">12 000 грн</div>
        <span title="Последнее обновление: сегодня в 14:25. Впервые найдено: сегодня в 14:25."
              class="realty-card-characteristics__add-time" data-reactid="29">сегодня в 14:25</span>
        <div class="realty-card-characteristics-inline-block" data-reactid="30">
          <div class="realty-card-characteristics-list" data-reactid="31">
            <div class="realty-card-characteristics-list__item" data-reactid="32">3-комнатная</div>
            <div class="realty-card-characteristics-list__item" data-reactid="33">90 / 50 / 12 м²</div>
            <div class="realty-card-characteristics-list__item" data-reactid="34">5 этаж из 10</div>
          </div>
          <div class="realty-card-characteristics-list realty-card-characteristics-list_for-building"
               data-reactid="35"></div>
        </div>
      </div>
    </div>
    <div class="realty-card-description" data-reactid="36">
      <div data-reactid="37">Сдам 3-х комнатную квартиру на княжем затоне. 5 минут от метро осокорки. В квартире 3
        раздельные комнаты (2-е Спальни и гостиная). Есть вся необходимая мебель и бытовая техника. Рядом школы, садик,
        ТЦ Аркадия.
      </div>
      <span class="realty-card-description__more-button" data-ga-event-category="results" data-ga-event-action="card"
            data-ga-event-label="full_information">...</span></div>
    <div class="realty-card-actions" data-reactid="39"><a class="realty-card-actions__button" target="_blank"
                                                          data-ga-event-category="click_ann"
                                                          data-ga-event-action="lun_ann_more"
                                                          data-ga-event-label="rieltor.ua"
                                                          data-ga-event-noninteraction="0"
                                                          style="border:10px;box-sizing:border-box;display:inline-block;font-family:Open sans, sans-serif;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);cursor:pointer;text-decoration:none;margin:0;padding:0;outline:none;font-size:inherit;font-weight:inherit;position:relative;vertical-align:middle;z-index:1;height:36px;line-height:36px;min-width:88px;color:#ff9800;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;border-radius:2px;user-select:none;overflow:hidden;background-color:rgba(0, 0, 0, 0);text-align:center;"
                                                          href="/a/344083139/redirect?gaListingPosition=1&amp;gaListingType=search%2Findex%3Acity%2CcontractType%2CrealtyType"
                                                          tabindex="0" data-reactid="40">
      <div data-reactid="41"><span
              style="position:relative;padding-left:16px;padding-right:16px;vertical-align:middle;letter-spacing:0;text-transform:uppercase;font-weight:600;font-size:14px;"
              data-reactid="42">Подробнее</span></div>
    </a></div>
    <div class="favourite-toggle-button" data-ga-event-category="results" data-ga-event-action="card"
         data-ga-event-label="favourite" data-reactid="43">
      <div style="cursor:pointer;position:relative;overflow:visible;display:table;height:auto;width:auto;"
           data-reactid="44"><!-- react-empty: 45 --><input type="checkbox"
                                                            style="position:absolute;cursor:inherit;pointer-events:all;opacity:0;width:100%;height:100%;z-index:2;left:0;box-sizing:border-box;padding:0;margin:0;"
                                                            data-reactid="46" value="on">
        <div style="display:flex;width:100%;height:100%;" data-reactid="47">
          <div style="transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;float:left;position:relative;display:block;flex-shrink:0;width:24px;margin-right:0;margin-left:0;height:24px;"
               data-reactid="48">
            <div data-reactid="49">
              <svg style="display:inline-block;color:#9e9e9e;fill:#bdbdbd;height:24px;width:24px;user-select:none;transition:opacity 1000ms cubic-bezier(0.23, 1, 0.32, 1) 200ms;position:absolute;opacity:1;margin-right:0;"
                   viewBox="0 0 24 24" data-reactid="50">
                <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"
                      data-reactid="51"></path>
              </svg>
              <svg style="display:inline-block;color:#9e9e9e;fill:#ff9800;height:24px;width:24px;user-select:none;transition:opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;position:absolute;opacity:0;transform:scale(0);transition-origin:50% 50%;margin-right:0;"
                   viewBox="0 0 24 24" data-reactid="52">
                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                      data-reactid="53"></path>
              </svg>
            </div>
            <div data-reactid="54"></div>
            <div style="position:absolute;overflow:hidden;height:100%;width:100%;top:0;left:0;" data-reactid="55"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="realty-card-menu" data-ga-event-category="results" data-ga-event-action="card"
         data-ga-event-label="open_card_menu" data-reactid="56">
      <div style="display:inline-block;position:relative;" data-reactid="57">
        <button style="border:10px;box-sizing:border-box;display:inline-block;font-family:Open sans, sans-serif;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);cursor:pointer;text-decoration:none;margin:0;padding:12px;outline:none;font-size:0;font-weight:inherit;position:relative;z-index:1;overflow:visible;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;width:48px;height:48px;background:none;"
                tabindex="0" type="button" data-reactid="58">
          <div data-reactid="59">
            <svg style="display:inline-block;color:#9e9e9e;fill:currentColor;height:24px;width:24px;user-select:none;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;"
                 viewBox="0 0 24 24" data-reactid="60">
              <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                    data-reactid="61"></path>
            </svg>
          </div>
        </button>
        <div style="display:none;" data-reactid="62"><!-- react-empty: 63 --><!-- react-empty: 64 --></div>
      </div>
    </div>
  </div><!-- react-empty: 65 --></div>